:root{
  --header-hight: 10em;
}

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background-color: #303030;
  color: white;
  position: relative;
}

/* HomePage component*/
.App {
  text-align: center;
}

.header-container, footer{
  display: flex;
  justify-content: center;
  background-image: url(../src/assets/burgundy.jpg);
  height: var(--header-hight);
  width: 100%;
}
nav{
  align-self: flex-end;
}

.navbar-logo{
  height: var(--header-hight);
  position: absolute;
  left: 0;
}

nav a{
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  color: #FEFEFE;
  padding: 24px 32px;
}

nav a:hover{
  color: rgb(116,24,5);
  background: #FEFEFE;
  padding-top: 12px;
  padding-bottom: 12px;
}

.nav-active{
  border: 2px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url(../src/assets/burgundy.jpg);
}

.nav-right{
  position: absolute;
  top: 6.5em;
  right: 3em;
}

.nav-right:hover{
  border-right: 3px solid white;
}

.user-img{
  height: 40px;
}

footer{
  bottom: 0;
  padding-top: 2em;
  margin-top: 2em;
  color:white;
}

footer a{
  text-decoration: none;
  color: white;
}

footer a:hover{
  color: burlywood;
}

.welcome{
  background-image: url(../src/assets/welcomebackg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 28em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-about{
  background-image: url(../src/assets/aboutHeader.jpg);
}

.welcome-webshop{
  background-image: url(../src/assets/webshopHeader.jpg);
}

.welcome .square{
  border: 2px black;
  background-color: rgba(0,0,0,0.4);
  color: #fefefe;
  width: 60%;
  height: 25%;
  padding-top: 2em;
}

.welcome h2{
  margin-top: 0;
  margin-bottom: 0;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
}

.flex-item{
  align-self: center;
  margin-left: 2%;
  margin-right: 2%;
  flex: 46%;
}

.flex-container>div>img{
  width: 550px;
  margin-bottom: 3em;
}

.item01, .item04{
  margin-bottom: 2em;
}

.item02, .item06{
  text-align: left;
}

.item03{
  text-align: center;
}

.item01>p, .item04>p, .item05>p{
  text-align: justify;
}

.btn{
  border-color: rgb(116,24,5);
  padding: 16px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  color: rgb(116,24,5);
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}

.btn:hover{
  color: white;
  background-color: rgb(116,24,5);
}

/*AboutPage component*/
.about-container{
  margin: auto;
  padding-top: 20px;
  display: block;
  min-height: 170vh;
  text-align: justify;
  width: 35%;
}

.about-container h2{
  font-weight: bolder;
  text-align: center;
}

.about-container img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.about-container h2{
  color: #fefefe;
  background-image: url(../src/assets/burgundy.jpg);
  padding-top: 6px;
  padding-bottom: 6px;
  background-position-y: 50%;
}

/*DrinksPage component*/
li a{
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: bold;
  color: #FEFEFE;
  padding: 24px 24px;
  text-decoration: none;
}

li{
  display: inline-block;
  align-self: center;
}

li a:hover{
  color: rgb(116,24,5);
  background: #FEFEFE;
  padding-top: 12px;
  padding-bottom: 12px;
}

.drinks-container ul{
  margin-top: -1em;
  background-image: url(../src/assets/burgundy.jpg);
  padding-top: 1em;
  padding-bottom: 1em;
}

.left img{
  height: 500px;
}

.right h2{
  color: brown;
}

.drink-grid-container,
.webshop-grid-container{
  display: grid;
  grid-template-columns: auto auto;
  margin: auto;
  margin-top: 1em;
  gap: 50px;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.drink-p{
  font-weight: normal;
}

.welcome-drinks{
  background-image: url(../src/assets/drinksPage.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

/*LoginPage component*/
.login-page{
  min-height: 56vh;
}

.login-container,
.register-container{
  background-color: rgba(116,24,5, 0.35);
  padding-top: 0.7em;
  padding-bottom: 3em;
  width: 30%;
  margin-left: 35%;
  margin-top: 3.5em;
  margin-bottom: 5em;
}

input, textarea {
  width: 300px;
  padding: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  border: 2px solid black;
  margin-bottom: 16px;
}

.account-link{
  text-decoration: none;
  color: white;
}

.account-link:hover{
  text-decoration: underline;
}

.login-container button,
.register-container button {
  width: 320px;
  background-color: #303030;
  color: white;
}

.login-container button:hover,
.register-container button:hover {
  background: white;
  color: #303030;
}

.errorMsg{
  color: red;
}

.successMsg{
  color: green;
}

/*RegisterPage component*/
.register-page{
  min-height: 56vh;
}

/*WebshopPage component*/
.drink-name,
.cart-item h3{
  color: brown;
}

.left-webshop-grid-item img{
  width: 450px;
}

.right-webshop-grid-item p{
  font-weight: 1;
}

.cart-img{
  width: 50px;
  position: fixed;
  right: 30px;
  top: 71.5%;
}

.cart-counter{
  position: fixed;
  font-size: 20px;
  right: 85px;
  top: 71.5%;
}

.counter-background{
  background-color: red;
  border-radius: 50%;
  width: 28px;
  height: 21px;
  border-color: red;
  padding-bottom: 10px;
}

.discount-message{
  color: #0080ff;
}

.discount-message img {
  width: 15px;
}

.line{
  border-top: 2px solid brown;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  width: 50%;
}

/*Cart component*/
.cart-item{
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(0,0,0,0.4);
}

.cart-item button{
  margin: 5px;
}

.money{
  text-decoration: none;
  color: green;
}

.cart-container h1{
  margin-bottom: 1.5em;
}

.total{
  margin-top: 2em;
}

/*PageNotFound*/
.page-not-found{
  min-height: 56vh;
}
/*MQs*/

@media screen and (min-width: 1800px){
  .flex-container>div>p{
    padding-right: 150px;
  }

  .item01>p, .item05>p{
    padding-left: 150px;
  }

  .item04>p{
    width: 70%;
  }
}

@media screen and (max-width: 1800px){
  .resp-container{
    display: flex;
    flex-direction: column;
  }

  .welcome-webshop .square{
    margin-top: -5em;
  }

}

@media screen and (max-width: 1800px) and (min-width: 1300px){
  .about-container{
    width: 60%;
  }

  .welcome-webshop .square{
    margin-top: -9em;
  }

  .discount-message{
    margin-top: -6em;
    width: 60%;
    margin-left: 20%;
  }
}

@media screen and (max-width: 1300px) {
  .welcome .square{
    width: 75%;
    margin-bottom: 7em;
  }

  .welcome-about .square, .welcome-drinks .square, .welcome-webshop .square{
    margin-top: 4em;
  }

  nav{
    position: absolute;
    left: 170px;
    width: 100%;
  }

  nav a{
    display: flex;
    padding: 9.6px;
  }

  nav a:hover{
    padding: 9.6px;
  }

  .nav-active{
    background: black;
    border-color: black;
  }

  .nav-right{
    top: 10em;
    right: 0.1em;
    padding: 5px;
    background: rgba(0,0,0,0.4);
  }

  .nav-right:hover{
    border-right: none;
    background: black;
  }

  .flex-container{
    flex-direction: column;
    margin-top: -5em;
  }

  .flex-item{
    width: 80%;
    align-self: center;
  }

  .flex-container>div>img{
    width: 520px;
    margin-bottom: 0;
  }

  .item02, .item06{
    text-align: center;
  }

  .item01{
    order: 2;
  }

  .item02{
    order: 1;
    margin-top: 8em;
  }

  .item03{
    order:3;
  }

  .item04{
    order: 4;
  }

  .item05{
    order: 6;
  }

  .item06{
    order: 5;
  }

  .about-container{
    width: 70%;
    margin-bottom: -10em;
  }

  .cart-item{
    margin-bottom: 1em;
  }

  .welcome-webshop .square{
    margin-top: -7em;
  }

  .discount-message{
    margin-top: -9em;
    width: 80%;
    margin-left: 10%;
  }

  .login-container,
  .register-container{
    width: 50%;
    margin-left: 25%;
  }
}

@media screen and (max-width: 1050px) {
  .drinks-container>ul>li{
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .drinks-container>ul{
    margin:0;
    padding: 0;
    margin-top: -6.5em;
  }

  .drinks-container>ul>li>a{
    padding: 0.5em;
  }

  .drink-grid-container{
    display: flex;
    flex-wrap: wrap;
  }

  .webshop-grid-container{
    display: flex;
    flex-direction: column;
  }

  .left-webshop-grid-item>img{
    width: 350px;
  }

  .right-webshop-grid-item{
    margin-top: -3em;
  }

  .welcome-webshop .square{
    margin-top: -9em;
  }

  .discount-message{
    margin-top: -12em;
    width: 80%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 900px) and (min-width: 600px){
  .drinks-container>ul{
    margin-top: -11em;
  }

  .welcome-drinks .square{
    margin-top: -2.5em;
  }

  .welcome-webshop .square{
    margin-top: -22em;
    height: 12%;
    font-size: 12px;
  }

  .welcome-webshop .square>h2{
    margin-top: -0.7em;
  }

  .discount-message{
    margin-top: -16em;
    width: 80%;
    margin-left: 10%;
  }
} 

@media screen and (max-width: 600px) {
  .welcome .square{
    height: 20%;
    margin-bottom: 21.5em;
    font-size: 14px;
  }

  .welcome h2{
    margin-top: -1em;
  }

  .welcome-about .square>h2, .welcome-drinks .square>h2{
    margin-top: 0;
  }

  .flex-container{
    margin-top: -22em;
  }

  .flex-container>div>img{
    width: 350px;
    margin-bottom: 0;
  }

  .about-container{
    margin-top: -10em;
    width: 85%;
    margin-bottom: 5em;
  }

  .drinks-container>ul{
    margin-top: -15em;
  }

  .drink-grid-container>div>img{
    margin-bottom: -3em;
  }

  .cart-container{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .welcome-webshop .square{
    margin-top: -5.5em;
    height: 12%;
  }

  .discount-message{
    margin-top: -17em;
  }
  
  .login-container,
  .register-container{
    width: 90%;
    margin-left: 5%;
  }
}